<footer>
  <section id="main_footer" class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../../../assets/images/bg_footer.jpg);">
    <div class="bg_layer"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <a href="#">
            <h2 class="brand-logo mb30">Contact Us</h2>
          </a>
          <p class="mb30">
            Serbia, Niš
            <br> +381(654)25-00-44
          </p>
          <div class="social_icons">
            <a href="#">
              <span class="fb_footer"></span>
            </a>
            <a href="#">
              <span class="twt_footer"></span>
            </a>
            <a href="#">
              <span class="pinit_footer"></span>
            </a>
            <a href="#">
              <span class="linkedin_footer"></span>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="middle_footer">
            <h4>useful links</h4>
            <div class="row">
              <div class="col-sm-6">
                <ul class="useful_links">
                  <li>
                    <a href="#">
                      <i class="fa fa-angle-right mr5"></i>Home</a>
                  </li>
                  <li>
                    <a href="#extra_features">
                      <i class="fa fa-angle-right mr5"></i>Features</a>
                  </li>
                  <li>
                    <a href="#articles">
                      <i class="fa fa-angle-right mr5"></i>Portfolio</a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="useful_links">
                  <li>
                    <a href="#our_clients">
                      <i class="fa fa-angle-right mr5"></i>Testimonial</a>
                  </li>
                  <li>
                    <a href="#contactus">
                      <i class="fa fa-angle-right mr5"></i>Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="footer_line text-center">
      <p>SimLead &copy; 2010- {{today | date:'yyyy'}}. All rights reserved</p>
    </div>
  </section>
</footer>