<section id="our_clients">
  <div class="container">
    <div class="row">
      <div class="title">
        <h2 class="text-center">WHAT
          <span class="theme_bolder">OUR CLIENTS SAYS!</span>
        </h2>
        <div class="col-xs-12 text-center">
        </div>
      </div>
    </div>
    <div class="review">
        <div class="item">
            <div class="client_comment mb40 text-center">
              <p>
                {{client3.body}}
              </p>
            </div>
            <ul class="client_data">
              <li>
                <div class="client_img">
                  <img class="img-responsive" src="../../../assets/images/clients/client2.jpg" alt="client">
                </div>
                <div class="client_detail">
                  <h5 class="system_font_color">{{client3.name}}</h5>
                  <span>{{client3.title}}</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="client_comment client_comment2 mb40 text-center">
              <p>
                {{client1.body}}
              </p>
            </div>
            <ul class="client_data2">
              <li>
                <div class="client_img">
                  <img class="img-responsive" src="../../../assets/images/clients/client3.jpg" alt="client">
                </div>
                <div class="client_detail">
                  <h5 class="system_font_color">{{client1.name}}</h5>
                  <span>{{client1.title}}</span>
                </div>
              </li>
            </ul>
          </div>
      <div class="item">
        <div class="client_comment client_comment2 mb40 text-center">
          <p>
            {{client2.body}}
          </p>
        </div>
        <ul class="client_data">
          <li>
            <div class="client_img">
              <img class="img-responsive" src="../../../assets/images/clients/client1.jpg" alt="client">
            </div>
            <div class="client_detail">
              <h5 class="system_font_color">{{client2.name}}</h5>
              <span>{{client2.title}}</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        <div class="client_comment mb40 text-center">
          <p>
            {{client4.body}}
          </p>
        </div>
        <ul class="client_data2">
          <li>
            <div class="client_img">
              <img class="img-responsive" src="../../../assets/images/kim.jpg" alt="client">
            </div>
            <div class="client_detail">
              <h5 class="system_font_color">{{client4.name}}</h5>
              <span>{{client4.title}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>