.portfolio-info .title h1 {
  text-transform: capitalize;
  font-weight: 700;
  color: #404040;
  padding-bottom: 0;
  margin-bottom: 5px;
}
.title h1,
.title h2 {
  font-weight: 300;
  color: #666;
  font-size: 30px;
  position: relative;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.initialism,
.theme_btn,
.title h1,
.title h2 {
  text-transform: uppercase;
}

h1 {
  margin: 0;
}
h1 {
  font-size: 60px;
  font-weight: 300;
  color: #fff;
}
.h1,
h1 {
  font-size: 36px;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 {
  margin: 0.67em 0;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}
:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
}
h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.portfolio-info {
  background-color: #fff;
  text-align: center;
}
body {
  font-family: Lato, sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
}
body {
  line-height: 1.42857143;
  color: #333;
}
html {
  font-size: 10px;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.owl-carousel,
.owl-carousel .owl-item,
.owl-theme .owl-controls,
.slick-slider,
html {
  -webkit-tap-highlight-color: transparent;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.portfolio-info .title h1::after {
  display: none;
}
.title h1:after,
.title h2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90px;
  height: 1px;
  background-color: #666;
  margin: auto;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.website {
  font-size: 15px;
}

.portfolio-info .skills {
  color: #02aab0;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 15px;
}

.navbar .navbar-fixed-top .default .top-nav-collapse {
  background-color: #00cdac;
}

.navbar .navbar-fixed-top .default .top-nav-collapse {
  background-color: #00cdac;
}
.navbar .default .navbar-fixed-top {
  background-color: #00cdac;
}
nav {
  background-color: #00cdac;
}
/* 
#amazing_features,
#blog,
#clients,
#core_features,
#our_clients {
  background-color: #f7f7f7;
} */
#blog,
#blog-single,
#portfolio_single {
  padding: 120px 0 100px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
body {
  font-family: Lato, sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
}
body {
  line-height: 1.42857143;
  color: #333;
}
html {
  font-size: 10px;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.owl-carousel,
.owl-carousel .owl-item,
.owl-theme .owl-controls,
.slick-slider,
html {
  -webkit-tap-highlight-color: transparent;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
