
  
    <div class="body" data-spy="scroll" data-target=".navbar" data-offset="50">
  <!-- Navigation menu -->
<app-nav></app-nav>

<!-- Home section -->
<app-header></app-header>

<!-- Core_features section -->
<app-main-directions></app-main-directions>

<!-- Extra_features section -->
<app-features></app-features>

<!-- Available_app section -->
<app-available></app-available>
<br>
<br>
<!-- Screen-shot section -->
<app-article></app-article>

<!-- Client section -->
<app-counter></app-counter>

<!-- People section -->
<app-client></app-client>

<!-- Contact section -->
<app-mail></app-mail>

<!-- Footer section -->
<app-footer></app-footer>

</div>
