<section id="core_features">
  <div class="container">
    <div class="row">
      <div class="title">
        <h2 class="text-center">Main
          <span class="theme_bolder">Directions</span>
        </h2>       
      </div>
    </div>
    <div class="row valign_wrapper">
      <div class="col-sm-4 hidden-sm">
        <img class="img-responsive animate_left_40" src="../../../assets/images/custom/tech.png" alt="Core-Features">
      </div>
      <!-- Left features -->
      <div class="col-sm-6 col-md-4">
        <ul class="mt50 mb50">
          <!-- features 1 -->
          <li class="list_content">
            <span class="chk_icon2"></span>
            <h4 class="system_font_color"> WEB APPS</h4>
            <p>
              We are building quick, light and beautiful web apps with responsive design.
            </p>
          </li>
          <!-- features 2 -->
          <li class="list_content">
            <span class="chk_icon2"></span>
            <h4 class="system_font_color">BUILD CRM SYSTEMS</h4>
            <p>
              We are building CRM systems based on our clients needs.
            </p>
          </li>
          <!-- 3 -->
          <li class="list_content">
            <span class="chk_icon2"></span>
            <h4 class="system_font_color">MOBILE HYBRID APPS</h4>
            <p>
              One platform for your app? This is real now - build your hybrid app.
            </p>
          </li>
        </ul>
      </div>
      <!-- Right features -->
      <div class="col-sm-6 col-md-4">
        <ul class="mt50 mb50">
          <!-- features 4 -->
          <li class="list_content">
            <span class="chk_icon2"></span>
            <h4 class="system_font_color">INTEGRATION OF 3RD PARTY SERVICES</h4>
            <p>
              We have great experience with integration of social, analytics and billing systems.
            </p>
          </li>
          <!-- features 5 -->
          <li class="list_content">
            <span class="chk_icon2"></span>
            <h4 class="system_font_color">
              API DEVELOPMENT</h4>
            <p>
              We are building RESTful API's for web and mobile apps.
            </p>
          </li>
          <!-- features 6 -->
          <li class="list_content">
            <span class="chk_icon2"></span>
            <h4 class="system_font_color">NON-STANDARD SOLUTIONS</h4>
            <p>
              Сan not find how to implement your idea? We will help you find a solution.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>