.wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  background: #0b0b0b;
  opacity: 0.9;
  position: fixed;
  align-items: center;
}

.text-center {
  margin-top: 200px;
}

.imgDiv {
  margin: 0 auto;
  /*width: 600px;*/
  /*height: 680px;*/
}
.img-container {
  height: 680px;
  width: 600px;
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
  background-size: 600px 680px;
  marigin-bottom: 100px;
}
.close {
  background-color: transparent;
  border: transparent;
  margin:20px 2% 20px 0;
  color: white;
}

img {
  width: 75%;
}