<!-- Navigation menu -->
<app-nav></app-nav>

<!-- Home section -->
<app-header></app-header>

<!-- Core_features section -->
<app-main-directions></app-main-directions>

<!-- Extra_features section -->
<app-features></app-features>

<!-- Available_app section -->
<app-available></app-available>
<br>
<br>
<!-- Screen-shot section -->
<app-article></app-article>

<!-- Client section -->
<app-counter></app-counter>

<!-- People section -->
<app-client></app-client>

<!-- Contact section -->
<app-mail></app-mail>

<!-- Footer section -->
<app-footer></app-footer>

<!-- Move to up-->
<a class="btn btn-lg scrollup">
  <i class="fa fa-arrow-up"></i>
</a>