<section id="counter" class="jarallax" data-jarallax='{"speed": 0.1}' style="background-image: url(../../../assets/images/bg_counter.jpg);">
  <div class="bg_layer"></div>
  <div class="container">
    <div class="row display-elements">
      <div class="col-xs-6 col-sm-4 text-center">
        <span class="code"></span>
        <div>
          <h3 class="counter">150</h3>+
        </div>
        <span>Projects</span>
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        <span class="user"></span>
        <div>
          <h3 class="counter">50</h3>+
        </div>
        <span>Happy Clients</span>
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        <span class="rate"></span>
        <div>
          <h3 class="counter">8</h3>
        </div>
        <span>YEARS OF EXPIRIENCE</span>
      </div>
    </div>
  </div>
</section>