<nav id="getmehome" class="navbar default" autoscroll="true">
  <div class="container">
    <div class="navbar-header">
      <button #navbarToggler type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index.html" class="brand-logo">
        <!-- <h1>AppLab</h1> -->
        <img src="../../../assets/images/custom/logo.png" alt="Theme_name">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav pull-right">
        <li class="active">
          <a (click)= toggleNavbar() href="#home">Home</a>
        </li>
        <li>
          <a (click)= toggleNavbar() href="#core_features">Features</a>
        </li>
        <li>
          <a (click)= toggleNavbar() href="#articles">Portfolio</a>
        </li>
        <li>
          <a (click)= toggleNavbar() href="#our_clients">Testimonials</a>
        </li>
        <li>
          <a (click)= toggleNavbar() href="#contactus">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>