<section id="available_app" class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../../../assets/images/bg_available.jpg);">
  <div class="bg_layer"></div>
  <div class="container">
    <div class="row">
      <div class="title">
        <h2 class="text-center">RESPONSIVE
          <span class="white_bolder">DESIGN</span>
        </h2>
        <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
          <p>
            Pixel perfect view for any device:
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center apps">
        <span class="app_phone animate_fade_in"></span>
        <h4>SMARTPHONE</h4>
      </div>
      <div class="col-sm-4 text-center apps">
        <span class="pc animate_fade_in"></span>
        <h4>PC</h4>
      </div>
      <div class="col-sm-4 text-center apps">
        <span class="tablet animate_fade_in"></span>
        <h4>TABLET</h4>
      </div>
    </div>
  </div>
</section>