<header id="header" class="jarallax big_screen" data-jarallax='{"speed": 0.2}'>
		<div class="light_bg_layer"></div>
	<div class="container" >
		<div class="row">
			<section id="home">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<h1 class="mb50 intro-title">
								Simlead is a software development company for
								<br>
								<span class="element" data-elements="Your Marketing App,Your CRM System,Your Business Idea"></span>
							</h1>
							<ul class="mb50">
								<li class="list_content">
									<span class="chk_icon"></span>
									<p>Custom Software Development Solutions</p>
								</li>
								<li class="list_content">
									<span class="chk_icon"></span>
									<p>Web/Applications servers</p>
								</li>
								<li class="list_content">
									<span class="chk_icon"></span>
									<p>API development services</p>
								</li>
							</ul>
							<div class="btn-groups">
								<a href="#contactus" class="btn theme_btn mr15">CONTACT US</a>
							</div>
						</div>

					</div>
				</div>
			</section>
		</div>
	</div>
</header>