<nav class="navbar default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="brand-logo">
        <img src="../../../assets/images/custom/logo.png" alt="Theme_name">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a (click)="goTo('home')">Home</a>
        </li>
        <li>
          <a (click)="goTo('core_features')">Features</a>
        </li>
        <li>
          <a (click)="goTo('articles')">Portfolio</a>
        </li>
        <li>
          <a (click)="goTo('our_clients')">Testimonials</a>
        </li>
        <li>
          <a href="#contactus">Contact us</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<section id="portfolio_single" style="padding-top:100px">
  <div class="container">

    <article id="post-141" class="post-141 our_portfolio type-our_portfolio status-publish format-standard has-post-thumbnail hentry">
      <div class="row portfolio-info">
        <div class="col-md-6 col-sm-12">
          <div class="custom-single-thumbnail-img">
            <div class="overlay" >
              <img id="myImg" class="overlayImg" src="{{article?.url}} " />
              <div class="custom-single-thumbnail-img-hover">
                <a data-lightbox="group-unique" class="img-preview" alt="Preview" title="Preview">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 portfolio-info-data">
          <div class="title">
            <h1>{{article?.title}} </h1>
          </div>
          <div class="website">
            {{article?.website}}</div>
          <div class="skills">
            {{article?.skills}}</div>
          <div class="entry-content" style="word-wrap:break-word;">
            <p>{{article?.body}}</p>
          </div>
        </div>
      </div>
    </article>
    <!-- #post-## -->
  </div>
</section>
<br>
<br>
<br>
<!-- Post section ends -->
<section id="portfolio-more-works" >
  <div class="container">
    <div class="row">
      <div class="title">
        <h2 class="text-center">More of
          <span class="theme_bolder">our works</span>
        </h2>
      </div>
    </div>
  </div>
  <div class="row custom">
      <div class="portfolio-list-item col-md-3 col-sm-6 col-xs-6 work" *ngFor="let article of articleList  | slice:0:8">
        <div class="overlay"></div>
        <div class="work-content">
            <div class="articleDiv">
              <a (click)="change(article.$key)">
                <img class="image" src="{{article.url}}">
              </a>
            </div>
      </div>
    </div>
  </div>
</section>
<app-mail></app-mail>

<app-footer></app-footer>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>