<section id="extra_features">
  <div class="container" id="extra_features_2">
    <div class="row">
      <div class="title">
        <h2 class="text-center">Our
          <span class="theme_bolder">Features</span>
        </h2>
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <p><b>Our ideology in three simple steps:</b>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="extra_features_icon">
          <span class="docs"></span>
        </div>
        <h4 class="system_font_color text-uppercase">Documentation</h4>
        <p>The entire development process is documented. </p>
      </div>
      <div class="col-sm-4 text-center">
        <div class="extra_features_icon">
          <span class="code"></span>
        </div>
        <h4 class="system_font_color text-uppercase">Code Style</h4>
        <p>All code is written with the <br>
          observance of one code style </p>
      </div>
      <div class="col-sm-4 text-center">
        <div class="extra_features_icon">
          <span class="desktop"></span>
        </div>
        <h4 class="system_font_color text-uppercase">Support</h4>
        <p>Full support of the project after its delivery. </p>
      </div>
    </div>
    <div class="extra_feature_ph">
      <img class="img-responsive animate_bottom_60" src="../../../assets/images/custom/extra_feature_ph.png" alt="Extra_feature">
    </div>
  </div>
</section>